<%- include('partials/header');%>

<div class="form-container">
    
    <form action="/" method="POST">
        <h2>Log in to your account</h2>
        <div class="auth-btn">
            <a href="#">
                <i class="fab fa-google">Log in with Google</i>
            </a>
        </div>
    <input type="text" placeholder="Email" name="username" id="user">
    <input type="password" placeholder="Password" name="password" id="password">
    <button type="submit" class="auth-button">Sign In</button>
    <p>Not a user? <a href="/signup" class="signup">Sign Up</a></p>

    </form>
</div>
   
<%- include('partials/footer');%>