<%- include('partials/loginNav');%>

<div class="form-container"> 
    <form action="/signup" method="POST">
        <h2>Create your account</h2>
        <div class="auth-btn">
            <a href="/auth/google">
                <i class="fab fa-google"></i>
                Log in with Google
            </a>
        </div>
        <% include partials/message %>
        <input type="text" placeholder="Email" name="username" id="user">
        <input type="password" placeholder="Password" name="password" id="password">
        <button type="submit" class="auth-button">Sign up</button>
        <p>Already a user? <a href="/" class="signup">Sign In</a></p>

    </form>
</div>

<%- include('partials/footer');%>